* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator-div {
    display: flex;
    width: 256px;
    height: 320px;
    flex-wrap: wrap;
    margin: 60px auto;
}

#display {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    height: 64px;
    width: 256px;
}

#btns-div {
    height: 256px;
    width: 256px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
}

.calc-button {
    background-color: lightgray;
    height: 64px;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    border: 1px solid black;
}